<%= link_to 'Edit', edit_place_path(@place), class: 'pull-right' if @place.user == current_user %>

<p>
  <strong>Title:</strong>
  <%= @place.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @place.latitude %> <%= @place.longitude %>
</p>

<p>
  <strong>Shared with friends:</strong>
  <% @place.shared_users.each do |user| %>
    <%= user.email %>
  <% end %>
</p>

<%= hidden_field_tag :place_latitude, @place.latitude %>
<%= hidden_field_tag :place_longitude, @place.longitude %>

<div id="map" style="width:700px; height:500px; margin-left:80px;"></div>
